In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *
from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from IPython.display import display
from sklearn import metrics

/home/bmn/anaconda3/envs/fastai/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
PATH = 'data/AccidentPrediction/'

In [4]:
!ls {PATH}

AccidentPrediction.Rproj  Clustering	LICENSE     README.md
Classification		  FinalProject	mydata.csv

In [5]:
df_raw = pd.read_csv(Path(f'{PATH}/mydata.csv'), low_memory=False)

In [6]:
df_raw.describe()

       Police_Force  Accident_Severity  Number_of_Vehicles  Number_of_Casualties  Day_of_Week     Location  Speed_limit  Light_Conditions  Weather_Conditions  Urban_or_Rural_Area
count   4571.000000        4571.000000         4571.000000           4571.000000  4571.000000  4571.000000  4571.000000       4571.000000         4571.000000          4571.000000
mean      30.989280           2.809451            1.855611              1.349595     4.113761   355.779917    38.510173          2.051630            1.551083             1.376942
std       25.256273           0.426433            0.722066              0.768548     1.930116   258.399175    14.384181          1.733933            1.674942             0.484673
min        1.000000           1.000000            1.000000              1.000000     1.000000     1.000000    20.000000          1.000000            1.000000             1.000000
25%        7.000000           3.000000            1.000000              1.000000     2.000000   128.000000    30.000000          1.000000            1.000000             1.000000
50%       32.000000           3.000000            2.000000              1.000000     4.000000   347.000000    30.000000          1.000000            1.000000             1.000000
75%       46.000000           3.000000            2.000000              1.000000     6.000000   536.000000    50.000000          4.000000            1.000000             2.000000
max       98.000000           3.000000            7.000000             10.000000     7.000000   941.000000    70.000000          7.000000            9.000000             2.000000

In [7]:
df_raw

      Police_Force  Accident_Severity  Number_of_Vehicles  Number_of_Casualties  Day_of_Week  Location  Speed_limit  Light_Conditions  Weather_Conditions  Urban_or_Rural_Area
0               52                  2                   1                     1            6       612           40                 6                   1                    2
1                1                  3                   2                     1            6        22           30                 7                   1                    1
2               21                  3                   1                     1            6       257           30                 4                   1                    1
3               35                  2                   2                     1            6       395           70                 4                   1                    2
4               97                  3                   1                     1            6       913           60                 6                   8                    2
5               41                  3                   1                     2            6       433           70                 1                   1                    2
6               31                  3                   2                     2            6       342           70                 1                   1                    2
7               13                  3                   2                     3            6       203           30                 1                   1                    1
8               50                  1                   1                     1            6       584           70                 6                   5                    2
9                1                  3                   2                     1            6         9           30                 4                   1                    1
10               1                  3                   1                     1            6        28           30                 7                   1                    1
11              32                  3                   2                     1            7       353           60                 6                   2                    2
12               1                  3                   4                     3            7        19           30                 1                   2                    1
13              13                  3                   2                     3            7       203           50                 1                   7                    2
14              44                  3                   2                     1            7       500           30                 1                   1                    1
15               1                  3                   1                     1            7         9           30                 1                   1                    1
16               1                  3                   2                     2            7        26           30                 4                   1                    1
17              14                  3                   1                     1            7       215           30                 4                   2                    1
18              14                  3                   2                     1            7       215           30                 4                   2                    1
19              62                  3                   2                     2            7       746           50                 4                   1                    2
20               1                  3                   2                     1            1         5           30                 4                   1                    1
21              46                  3                   2                     3            1       533           60                 1                   2                    2
22              31                  3                   1                     1            1       340           70                 1                   2                    2
23              16                  3                   2                     1            1       231           40                 1                   2                    2
24              17                  3                   2                     1            1       243           50                 4                   1                    2
25              40                  3                   2                     1            1       421           40                 6                   1                    1
26              43                  3                   2                     1            1       475           70                 4                   1                    2
27              47                  2                   1                     2            1       562           60                 6                   5                    2
28              52                  2                   2                     1            2       612           40                 4                   2                    1
29              46                  3                   2                     1            2       536           30                 1                   1                    1
...            ...                ...                 ...                   ...          ...       ...          ...               ...                 ...                  ...
4541            42                  3                   3                     2            4       456           70                 4                   1                    2
4542             7                  3                   1                     1            4       129           30                 4                   1                    1
4543            44                  3                   1                     1            4       490           70                 6                   7                    2
4544            44                  3                   1                     1            5       496           40                 6                   1                    2
4545             1                  3                   3                     1            5        27           40                 1                   1                    1
4546            43                  2                   5                     6            5       483           70                 1                   1                    2
4547            13                  3                   2                     1            5       204           70                 1                   1                    2
4548            43                  2                   2                     2            5       481           50                 1                   1                    1
4549            33                  3                   2                     1            5       364           30                 1                   1                    1
4550            20                  3                   3                     2            5       307           30                 1                   1                    1
4551             1                  3                   1                     1            5         8           30                 4                   8                    1
4552            97                  3                   1                     1            5       916           30                 4                   1                    1
4553             6                  3                   2                     1            5       100           30                 4                   8                    1
4554            41                  3                   2                     2            5        33           70                 4                   7                    2
4555            23                  3                   1                     1            6       292           50                 6                   7                    2
4556            45                  3                   1                     1            6       516           40                 1                   7                    2
4557             3                  3                   1                     1            6        62           20                 1                   1                    1
4558             7                  3                   3                     1            6       130           60                 1                   1                    2
4559            35                  2                   1                     1            6       394           30                 1                   1                    1
4560             4                  2                   1                     1            6        82           30                 4                   1                    1
4561             1                  3                   1                     1            6         4           30                 7                   9                    1
4562             1                  3                   1                     1            6        17           30                 4                   1                    1
4563             1                  3                   1                     1            6        18           30                 4                   1                    1
4564            44                  3                   1                     1            7       498           60                 4                   1                    2
4565             1                  3                   1                     1            7        26           30                 1                   9                    1
4566             7                  2                   2                     2            7       130           60                 1                   1                    2
4567            36                  3                   1                     1            7       406           50                 6                   1                    2
4568            13                  3                   2                     2            7       200           50                 4                   1                    2
4569             6                  1                   2                     2            7       104           30                 4                   1                    1
4570            33                  3                   2                     2            7       364           30                 4                   1                    1

[4571 rows x 10 columns]

In [8]:
df_raw.Accident_Severity = np.log(df_raw.Accident_Severity)

In [9]:
m = RandomForestRegressor(n_jobs=-1)

In [10]:
m.fit(df_raw.drop('Accident_Severity', axis=1), df_raw.Accident_Severity)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [11]:
df_raw.columns

Index(['Police_Force', 'Accident_Severity', 'Number_of_Vehicles',
       'Number_of_Casualties', 'Day_of_Week', 'Location', 'Speed_limit',
       'Light_Conditions', 'Weather_Conditions', 'Urban_or_Rural_Area'],
      dtype='object')

In [12]:
df_raw.head()

   Police_Force  Accident_Severity  Number_of_Vehicles  Number_of_Casualties  Day_of_Week  Location  Speed_limit  Light_Conditions  Weather_Conditions  Urban_or_Rural_Area
0            52           0.693147                   1                     1            6       612           40                 6                   1                    2
1             1           1.098612                   2                     1            6        22           30                 7                   1                    1
2            21           1.098612                   1                     1            6       257           30                 4                   1                    1
3            35           0.693147                   2                     1            6       395           70                 4                   1                    2
4            97           1.098612                   1                     1            6       913           60                 6                   8                    2

In [15]:
df_raw.Day_of_Week = df_raw.Day_of_Week.astype('category').cat.as_ordered()

In [16]:
df_raw.Location = df_raw.Location.astype('category').cat.as_ordered()

In [17]:
df_raw.Light_Conditions = df_raw.Light_Conditions.astype('category').cat.as_ordered()

In [18]:
df_raw.Weather_Conditions = df_raw.Weather_Conditions.astype('category').cat.as_ordered()

In [19]:
df_raw.Urban_or_Rural_Area = df_raw.Urban_or_Rural_Area.astype('category').cat.as_ordered()